html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/636/original/texas.png?1650820813");
  background-position: center 40px;
  background-repeat: no-repeat;
  background-size: 900px 575px;
  background-color: #dee2e6;
  overflow-x: hidden;
}

.weather-app {
  padding: 15px;
  margin: 20px auto;
}

ul.texas-cities {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-weight: 500;
  list-style-type: none;
  margin-right: -62px;
  margin-top: 14px;
  margin-left: 186px;
  padding: 1px 13px 19px 0px;
  gap: 7px;
  text-shadow: -1px 1px 0 #052665, 1px 1px 0 #052665, 1px -1px 0 #052665,
    -1px -1px 0 #052665;
  font-size: 14px;
}

.city-color {
  color: white;
}

.city-color:hover {
  color: #b90c2f;
}

.search-bar {
  width: 1015px;
  margin-left: 170.5px;
  margin-top: -29px;
}

#city-search {
  width: 219.5px;
  margin-left: 16px;
  height: 32px;
  font-size: 14px;
}

#press-one {
  background-color: #b90c2f;
  color: white;
  width: 70.8281px;
  margin-left: 239px;
  margin-top: -60px;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}

#press-one:hover {
  background-color: #a00928;
  outline-color: white;
  color: white;
}

#press-one:visited {
  background-color: #b90c2f;
  outline-color: white;
  color: white;
}

#press-one:link {
  background-color: #b90c2f;
  outline-color: white;
  color: white;
}

#press-one:active {
  background-color: #b90c2f;
  outline-color: white;
  color: white;
}

#star-city {
  display: block;
  font-size: 43px;
  text-align: center;
  margin-top: -8px;
  margin-left: 263.3px;
  text-transform: capitalize;
  color: white;
  line-height: 18x;
  line-height: 0.9;
  text-shadow: -1px 1px 0 #052665, 1px 1px 0 #052665, 1px -1px 0 #052665,
    -1px -1px 0 #052665;
}

a:link {
  text-decoration: none;
}

#current-temp {
  font-size: 95px;
  font-weight: 600;
  line-height: 0.8;
}

.current-focus-details {
  display: block;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  margin-top: -39px;
  margin-left: 175px;
  width: 229px;
}

ul.current-details {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.25;
  text-align: justify;
}

#weather-description {
  text-transform: capitalize;
}

.weather-temperature #units {
  cursor: default;
  font-weight: 500;
  top: -53px;
  position: relative;
}

.weather-temperature .active {
  cursor: default;
  color: black;
}

.weather-temperature a {
  color: #b90c2f;
}

.weather-temperature a:hover {
  color: black;
}

#fahrenheit-link:inactive {
  color: #b90c2f;
  transition: all 0.2s ease-in-out;
}

#celsius-link:inactive {
  color: #b90c2f;
  transition: all 0.2s ease-in-out;
}

#press-two {
  background-color: #052665;
  font-size: 13px;
  color: white;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
}

#press-two:hover {
  background-color: #052665;
  outline-color: #b90c2f;
  color: white;
}

#current-emoji {
  margin-top: -92px;
  margin-left: -81px;
}

#bottom {
  margin-left: 200px;
}

#group-days {
  margin-top: 105px;
  position: relative;
  left: -226px;
}

#day-week {
  text-align: center;
  font-size: large;
  font-weight: 500;
  line-height: 2;
  margin: -3px;
  padding: 9px;
}

#emoji-week {
  line-height: 2;
  text-align: center;
  margin: -3px;
  padding: 3px;
}

#high-low-week {
  font-size: 14px;
  line-height: 2;
  color: #6c757d;
  text-align: center;
  margin: -3px;
  padding: 9px;
}

.highs {
  font-weight: bolder;
  color: black;
}

.lows {
  opacity: 0.8;
}

.footer a,
.footer {
  padding: 53px;
  text-align: center;
  text-shadow: 1x 2x #fff;
}

.madeInTexas {
  margin: -52px;
}

#mailColor {
  color: #b90c2f;
}

@media (max-width: 1280px) {
  .city-links {
    position: relative;
    left: -90px;
  }
  .search-bar {
    position: relative;
    left: -90px;
  }

  #star-city {
    position: relative;
    left: -80px;
  }

  #current-emoji {
    margin-top: -92px;
    margin-left: -81px;
    position: relative;
    right: -40px;
  }

  #group-days {
    left: -174px;
    margin-top: 109px;
  }
  #high-low-week {
    font-size: 12px;
  }
}
